html {
    font-family: sans-serif; /* 1 */
}

body {
    color: black;
    font-size: 1.2em;
    margin: 0 auto 0 auto;
    width: 50rem;

    background: #3f3f3f;
    color: #e0dfe0;
}

header#title #text{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    /* font-family: monospace; */
}

img#marthog_m {
    width: 5rem;
    vertical-align: middle;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding:0;
}


/* Color the links, but still highlight on hover */
a {
    color: #f0efd0;
}

a:link{
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}

/* Code uses the <a> tag. Disable underlining. */
a.sourceLine:hover, a.sourceLine:hover {
    text-decoration: none;
    background: #3f3f3f;
}

nav{
    max-width: 8rem;
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    margin-top: 2rem;
    text-align: right;
    overflow: hidden;
}


h1#post-title {
    margin-top: 0; padding-top: 0;
}

section#main{
    padding: 0;
    margin: 0;
    margin-top: 0.4rem;
    margin-left: 1rem;
    width: 40rem;
    float: left;
    line-height: 1.5;
    text-align: justify;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

.date {
    font-size: 0.8em;
    color: grey;
}


/* Source code (use zenburn like color schreme) */

pre, code {
    /* font-family: monospace, monospace;
    _font-family: 'courier new', monospace; */
    color: #dcdccc;
    border-radius: 0.2rem;
    background: #2f2f2f;
    text-align: left;
}

a.sourceLine::before {
  content: attr(data-line-number) ". ";
  display: inline-block;
  color: grey;
}
pre {
    padding: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.4;
    border: solid 0.1rem grey;
    overflow: auto;
}

/* macro */
.pp{ color: #dfaf8f; }
/* keyword */
.kw{ color: #f0dfaf; font-weight: normal; }
.cf{ color: #f0dfaf; font-weight: bold; }
/* string */
.st{ color: #cc9393; }
/* comment */
.co{ color: #7f9f7f; }
/* numbers */
.dv{ color: #8cd0d3; }
/* data type */
.dt{ color: #dfdfbf; font-weight: bold; }

