html {
    font-family: sans-serif; /* 1 */
}

body {
    color: black;
    font-size: 1.2em;
    margin: 0 auto 0 auto;
    width: 50rem;

    background: #3f3f3f;
    color: #e0dfe0;
}

header#title #text{
    font-size: 1.4rem;
    font-style: bold;
    text-align: left;
    /* font-family: monospace; */
}

img#marthog_m {
    width: 5rem;
    vertical-align: middle;
    margin:0;
    padding:0;
    margin-left: 2rem;
    margin-right: 2rem;
}


/* Color the links, but still highlight on hover */
a {
    color: #f0efd0;
}

a:link{
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}

/* Code uses the <a> tag. Disable underlining. */
a.sourceLine:hover, a.sourceLine:hover {
    text-decoration: none;
    background: #3f3f3f;
}

nav{
    width: 8rem;
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-style: bold;
    text-transform: uppercase;
    font-family: monospace;
    margin-top: 2rem;
    text-align: right;
}


h1#post-title {
    margin-top: 0; padding-top: 0;
}

section#main{
    padding: 0;
    margin: 0;
    margin-top: 0.4rem;
    margin-left: 1rem;
    display: block;
    float: left;
    line-height: 1.5;
    text-align: justify;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}



/* Source code (use zenburn like color schreme) */

pre, code {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
}

a.sourceLine::before {
  content: attr(data-line-number) ". ";
  display: inline-block;
  color: grey;
}
code, pre { 
    color: #f0efd0;
    border-radius: 0.2rem;
    background: #2f2f2f;
    text-align: left;
}
pre {
    padding: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.8;
    border: solid 1em grey;
}

/* macro */
.pp{ color: #dfaf8f; }
/* keyword */
.kw{ color: #f0dfaf; }
/* string */
.st{ color: #cc9393; }
/* comment */
.co{ color: #7f9f7f; }
/* numbers */
.dv{ color: #8cd0d3; }

