<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Marthog">

    <title>Marthog's coding blog - $title$</title>
    <link rel="stylesheet" href="/css/default.css">

</head>

<body>
    <nav>
        <div id="marthog_m"> <img src="images/bitmap-marthog-m-256.png" height="64px">
            </div>
        <div id="main">
            <b>Navigation</b> <br>
            <a href="/index.html">Home</a><br>
            <a href="/about.html">About</a><br>
            <a href="/archive.html">Archive</a><br>
        </div>
    </nav>

    <header id="title">
        Marthog's coding blog - $title$
    </header>


    <section id="main">
        $body$
    </section>

</body>
</html>

