<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Marthog">

    <title>Marthog's coding blog - $title$</title>
    <link rel="stylesheet" href="/css/default.css">

</head>

<body>
    <header id="title">
        <img id="marthog_m" src="images/bitmap-marthog-m-256.png">
        <span id="text">Marthog's coding blog - $title$</span>
    </header>

    <nav>
        <b>Navigation</b> <br>
        <a href="/index.html">Home</a><br>
        <a href="/about.html">About</a><br>
        <a href="/archive.html">Archive</a><br>
    </nav>


    <section id="main">
        $body$
    </section>

</body>
</html>

